
.boton-paso {
    background-color: var(--magenta);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  }
  
.boton-paso:hover {
    background-color: var(--gris-claro);
  }

.boton-generales {
    background-color: var(--celeste);
    border-radius: 5px;
    padding: 5px;
    font-size: 10px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  }
  
.boton-generales:hover {
    background-color: var(--gris-claro);
  }
  

.boton-informes {
    display: inline-block;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid white;
    background-color: transparent;
    color: #fff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
  }
  
.boton-informes:hover {
    background-color: var(--gris-claro);
  }
  